<head>

    <link rel='stylesheet' href='/stylesheets/style1.css' />
</head>
<body>
<div class="error-404">  	
    <div class="error-page-left">
		<img src="images/404.png" alt="">
    </div>
    <div class="error-right">
	    <h2>Oops! Page Not Open</h2>
	    <h4>Nothing Is Found Here!!</h4>
	    <a href="index.html">Go Back</a>
    </div>
</div>
</body>



                      
						
