<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/admin/adminPage"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Admin</a></li>
				<li class="active">Change Status</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Change Status</h2>
			<div class="login-form-grids">
				<form id="form" action="/admin/changeStatus" method="POST">
					<label>Select Status</label><br>
                    <select class="category" name="OrderStatus">
                        <option></option>
                        <option>Shipped</option>
                        <option>Delivered</option>
                    </select>
                    <input type="hidden" name="id" value="{{orderId}}">
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
<!-- //register -->
 <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
   <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script> 
    <script src='/js/validation.js'></script>
</body>