<head>
	<link rel='stylesheet' href='/stylesheets/style2.css' />
  <style>
  body{
  background-color:#3bd428;
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 5% 0;
}
button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #de991c ;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background: #3bd428;
}
.error{
  color: #de991c;
  padding-left:23% ;
}

  </style>
</head>
<body>

<div class="container">
  <div class="title">
      <h2>Product Order Form</h2>
  </div>
 <form id="form"> 
<div class="d-flex">
  <div class="frm" action="" method="">
    <input type="hidden" name="userid" value="{{user._id}}">
    <label>
      <span class="fname">First Name <span>*</span></span>
      <input type="text" name="fname">
    </label>
    <label>
      <span class="lname">Last Name <span>*</span></span>
      <input type="text" name="lname">
    </label>
    <label>
      <span>Country <span>*</span></span>
      <input type="text" name="country">
      </label>
    </label>
    <label>
      <span>Address <span>*</span></span>
      <input type="text" name="address">
    </label>
    <label>
      <span>Town / City <span>*</span></span>
      <input type="text" name="city"> 
    </label>
    <label>
      <span>State / County <span>*</span></span>
      <input type="text" name="state"> 
    </label>
    <label>
      <span>Postcode / ZIP <span>*</span></span>
      <input type="text" name="pincode"> 
    </label>
    <label>
      <span>Phone <span>*</span></span>
      <input type="tel" name="mobile"> 
    </label>
    <label>
      <span>Email Address <span>*</span></span>
      <input type="email" name="mail"> 
    </label>
  </div>
  <div class="Yorder">
    <table>
      <tr>
        <th colspan="2">Your order</th>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td>Rs.{{total}}</td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td>Free shipping</td>
      </tr>
    </table><br>
    <div>
      <input type="radio" name="payment_method" checked value="COD"> Cash on Delivery
    </div>
    <div>
      <input type="radio" name="payment_method" value="cd"> Paypal <span>
      <img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt="" width="50">
      </span>
    </div>
    <button name="submit" value="submit">Checkout</button>
  </div><!-- Yorder -->
 </div>
 </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script>
    $("#form").submit((e)=>{
      e.preventDefault()
      $.ajax({
        url:'/checkoutSubmit',
        method:'post',
        data:$('#form').serialize(),
        success:(response)=>{
          if(response.status){
            location.href='/success'
          }
        }
      })
    })
</script>

 <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
   <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script> 
    <script src='/js/validation.js'></script>
</body>