<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/admin/adminPage">Admin</a></li>
				<li class="active">ManageCategory</li>
        <ul class="nav navbar-nav" style="float: right;">
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageOffers">ManageOffers </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageOrders">ManageOrders </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageCoupons">ManageCoupons </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageProducts">ManageProducts </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageUsers">ManageUsers </a></li>
				</ul>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<div style="margin-left: 10%;">
  <h2 class="table_top md-6">Manage Category</h2>            
  <a href="/admin/addCategory"><button class="ad">Add Category</button></a>&nbsp;<a href="/admin/manageCategory"><button>Refresh</button></a>
<table id="customers">
<thead>	
  <tr>
    <th>SI</th>
    <th>Category Name</th>
    <th>Category Options</th>
  </tr>
  </thead>
  <tbody>
	{{#each results}}
  <tr>
  	<td class="counterCell"></td>
    <td>{{this.cname}}</td>
    <td><a href="/admin/editCategory?name={{this.cname}}"><button>Edit</button></a>&nbsp;<a href="/admin/removeCategory?name={{this.cname}}"><button>Remove</button></a></td>
  </tr>
  {{/each}}
  </tbody>
</table>
</div>	
<!-- //main slider-banner --> 
</body>